<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SubmitService</servlet-name>
        <servlet-class>com.glenwood.glaceemr.gateway.services.SubmitService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitService</servlet-name>
        <url-pattern>/SubmitService</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.glenwood.glaceemr.gateway.config.GatewayContextListener</listener-class>
    </listener>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
